h1 {
    text-align: center;
    margin-bottom: 4rem;
}

.about-container {
    min-width: 90rem;
    max-width: 120rem;
    margin: 0 auto;
    padding: 4rem 2rem;
    align-self: start;
}

.about-section {
    background: #fff;
    border-radius: 0.8rem;
    padding: 2.5rem;
    margin-bottom: 2.5rem;
    box-shadow: 0 0.4rem 0.8rem #0000000C;
    line-height: 1.4;
}

.about-section p {
    margin: 1rem 0 0;
}

.inline-editor {
    font: inherit;          
    color: inherit;         
    background: transparent;
    border: none;           
    padding: 0;             
    margin: 0;
    width: 100%;
    max-width: 120rem;
    box-sizing: border-box;
    outline: none;          
    display: block;
    resize: none;
}

.inline-editor.heading {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    padding: 1rem;
}

.inline-editor.text {
    margin-bottom: 2rem;
}

.inline-editor:focus {
    border: 1px solid #ccc;
    background: #fff;
    padding: 2px 4px;
    resize: both;
}

.about-save-btn {
    max-width: 7rem;
    margin: 0 0 0 90%;
}