.login-container {
    background: #fff;
    padding: 4rem;
    border-radius: 1.2rem;
    box-shadow: 0 0.8rem 2rem rgba(0,0,0,0.15);
    width: 38rem;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 2.5rem;
}

.form-group {
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.form-group label {
    margin: 0 0 1rem 1rem
}