@import url("../../public/iconFonts/icon-font.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

i[class^="icon-"] {
  pointer-events: none;
}

.square-btn,
.square-btn:link,
.square-btn:visited {
  text-decoration: none;
  display: block;
  border: none;
  border-radius: 20rem;
  background-color: #333;
  padding: 0.5rem;
  width: 4rem;
  height: 4rem;
  color: #eee;
  font-size: 2rem;

  &:hover {
    cursor: pointer;
    background-color: #eee;
    color: #333 !important;
  }

  &:active {
    background-color: #ccc;
  }
}

.appear-animation {
  animation: appear 1s;
}

.disappear-animation {
  animation: disappear 1s;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
