:host {
  display: block;
}

h1 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;

  min-width: 50rem;
  height: fit-content;
  border-radius: 1rem 1rem 0 0;
  border: 1px solid #888;
  background-color: #fff;
  list-style: none;
  text-align: center;
  color: #eee;

  & > &-cell {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    border: inherit;
    max-height: 8rem;
    overflow-y: scroll;
    color: #333;

    &:nth-of-type(even) {
      justify-content: center;

      & > a {
        flex: 1;
      }

      & > .btn-container {
        margin-left: 2rem;
      }
    }
  }

  & > &-header {
    font-weight: bold;
    background: #333;
    border: inherit;
    font-size: 1.8rem;
    padding: 1rem;

    &:nth-of-type(1) {
      border-radius: 1rem 0 0 0;
    }

    &:nth-of-type(2) {
      border-radius: 0 1rem 0 0;
    }
  }
}

.btn-container {
  display: flex;
}

.look-icon {
  display: block;
  margin-top: 0.4rem;
}

.add-icon {
  @extend .look-icon;
}

.add-btn {
  position: absolute;
  right: 0;
  bottom: -5rem;

  &::before {
    content: "+";
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
