:host {
  display: block;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.details-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details-container {
  width: 50%;
  height: fit-content;
  max-width: 50rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  padding: 3rem;
  border-radius: 1.2rem;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  color: #333;

  & > .square-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    text-align: center;
  }
}

.close-icon {
  display: block;
  margin-top: 0.3rem;
}
